---
import SocialList from "@/components/SocialList.astro";
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Learn more about Mansoor Anis, a world class yapper and developer.",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<h2>Who am I?</h2>
		<p>
			I'm Mansoor, a student at University of Alberta, Canada. I love learning new things and
			sharing my knowledge with others. This blog is a place where I write about my learnings,
			projects, and experiences.
		</p>
		<h2>Previous Experiences</h2>
		<ul>
			<li>
				Software Developer Intern at <a href="https://www.wealthsimple.com/">Wealthsimple</a>
			</li>
			<li>
				Software Developer Intern at <a href="https://www.cibc.com/">CIBC</a>
			</li>
			<li>
				Software Developer Intern at <a href="https://www.exo.inc/">Exo</a>
			</li>
		</ul>
		<h2>Leadership Experience</h2>
		<ul>
			<li>
				President of <a href="https://uacs.ca">Undergraduate Association of Computer Science</a> (Jan
				2025 - April 2025)
			</li>
			<li>President of Google Developer Student Club (Sept 2022 - April 2023)</li>
			<li>
				Vice President Finance of <a href="https://uacs.ca"
					>Undergraduate Association of Computer Science</a
				> (May 2023 - Dec 2024)
			</li>
			<li>
				Vice President Internal of <a href="https://uacs.ca"
					>Undergraduate Association of Computer Science</a
				> (May 2022 - May 2023)
			</li>
		</ul>
		<h2>Socials</h2>
		<SocialList />
	</div>
</PageLayout>
